In [7]:
!pip install scipy==1.1.0
import sys, os
sys.path.append('../../')
import pandas as pd
import mglearn

Requirement already satisfied: scipy==1.1.0 in c:\users\ryusei\documents\desktop\github\introduction-to-machine-learning-with-python\venv\lib\site-packages (1.1.0)
Requirement already satisfied: numpy>=1.8.2 in c:\users\ryusei\documents\desktop\github\introduction-to-machine-learning-with-python\venv\lib\site-packages (from scipy==1.1.0) (1.17.0)

In [8]:
# The file has no headers naming the columns, so we pass header=None
# and provide the column names explicitly in "names"
adult_path = os.path.join(mglearn.datasets.DATA_PATH, "adult.data")
data = pd.read_csv(
    adult_path, header=None, index_col=False,
    names=['age', 'workclass', 'fnlwgt', 'education',  'education-num',
           'marital-status', 'occupation', 'relationship', 'race', 'gender',
           'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
           'income'])
# For illustration purposes, we only select some of the columns
data = data[['age', 'workclass', 'education', 'gender', 'hours-per-week',
             'occupation', 'income']]
# IPython.display allows nice output formatting within the Jupyter notebook
display(data.head())

,age,workclass,education,gender,hours-per-week,occupation,income
0,39,State-gov,Bachelors,Male,40,Adm-clerical,<=50K
1,50,Self-emp-not-inc,Bachelors,Male,13,Exec-managerial,<=50K
2,38,Private,HS-grad,Male,40,Handlers-cleaners,<=50K
3,53,Private,11th,Male,40,Handlers-cleaners,<=50K
4,28,Private,Bachelors,Female,40,Prof-specialty,<=50K